
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel" data-translate="muturamaApp.message.home.createOrEditLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.message.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="muturamaApp.message.contenu" for="field_contenu">Contenu</label>
            <input type="text" class="form-control" name="contenu" id="field_contenu"
                    ng-model="vm.message.contenu"
                    />
        </div>

        <div class="form-group">
            <label data-translate="muturamaApp.message.emeteur" for="field_emeteur">Emeteur</label>
            <select class="form-control" id="field_emeteur" name="emeteur" ng-model="vm.message.emeteur" ng-options="utilisateur as utilisateur.utilisateuruser.login for utilisateur in vm.utilisateurs | filter: vm.account.login">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="muturamaApp.message.recepteur" for="field_recepteur">Recepteur</label>
            <select class="form-control" id="field_recepteur" name="recepteur" ng-model="vm.message.recepteur" ng-options="utilisateur as utilisateur.utilisateuruser.login for utilisateur in vm.utilisateurs track by utilisateur.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
