<div ng-cloak>
    <div class="row">
        <!--<div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>-->
        <div class="col-md-12">
            <!--<h1 data-translate="home.title">Welcome, Java Hipster!</h1>
            <p class="lead" data-translate="home.subtitle">This is your homepage</p>-->

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message"
                     translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>
                 
                  <div class="alert alert-success" ng-switch-when="true" name = ville ng-repeat="agent in vm.lesagents">
                   "{{agent.agentville.nom}}".
                </div>
                
                <!--
                <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="nom"><span data-translate="muturamaApp.ville.nom">Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="region"><span data-translate="muturamaApp.ville.region">Region</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codepostal"><span data-translate="muturamaApp.ville.codepostal">Codepostal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ville in vm.cities track by ville.id">
                    
                    <td>{{ville.nom}}</td>
                    <td>{{ville.region}}</td>
                    <td>{{ville.codepostal}}</td>
                    <td class="text-right">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
    <div class="row">
  <div class="col-sm-6 col-md-10" ng-repeat="ville in vm.cities track by ville.id">
    <div class="thumbnail">
    <!--  <a ng-href="http://localhost:8080/#/ville/ville/{{ville.id}}"> <img src="content/images/trucking.png" alt="..."> </a> --> 
      <div class="caption">
        <h3>{{ville.nom}}</h3>
        <p>{{ville.region}}</p>
        <p>{{ville.codepostal}}</p>
        <p><a ng-href="http://localhost:8080/#/ville/ville/{{ville.id}}" class="btn btn-primary " role="button">lien</a>
        
      </div>
    </div>
  </div>
</div>
    
                <!--  
                <div class="alert alert-warning" ng-switch-when="false"
                     data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the
                    default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user"
                    and password="user").
                </div>
                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register"
                     translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>
-->
            <!-- <p data-translate="home.question">
                If you have any question on JHipster:
            </p>
            <ul>
                <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener" data-translate="home.link.homepage">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" data-translate="home.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" data-translate="home.link.chat">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" data-translate="home.link.follow">follow @java_hipster on Twitter</a></li>
            </ul>
            <p> -->
            <!--  <span data-translate="home.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" data-translate="home.github">GitHub</a>! -->
            <!--
                        </p>
            -->

            <!-- search/go to current location -->
           <!--  
            <div class="text-right">

                <div class="input-append text-right">
                    <div class="form-group col-sm-3">
                        <select class="form-control" id="field_city" name="ville" ng-model="vm.agent.agentvilel"
                                ng-change="getAgentsListBycity(vm.agent.agentville)"
                                ng-options="ville as ville.nom for ville in vm.cities track by ville.id">
                            <option value="">Choisir votre ville</option>
                        </select>
                    </div>  
<!--  
                    <div class="form-group col-sm-4">
                        <select class="form-control" id="field_city" name="ville"
                                ng-click="gotoLocation(ville.lat, ville.lon)"
                                ng-model="ville"
                                ng-disabled="!(vm.agent.agentville)"
                                ng-options="ville as ville.nom for agentville in agents">
                            <option value="">Select Agents</option>
                        </select>
                    </div>
                    
                    -->
                 

                  
                        
                        <button class=" btn" type="button" ng-click="gotoCurrentLocation(); getAgentsListBycity(vm.agent.agentville)"
                                title="current location">
                            &nbsp;<i class="icon-home"></i>Chercher les agents
                        </button>
                </div>
            </div>
           
        </div>
      
        
    </div>




    <!-- map -->

    <app-map style="height:300px;margin:12px;"
             center="loc"
             markers="agents"
    >
    </app-map>
 <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 50%;
            margin: 0;
            padding: 0;
        }
    </style>
    
     
    
    


